html{
    scroll-behavior:smooth;}

body{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    background-color: #FFFFFF;
}

.container{
    max-width: 1400px;
    padding: 0px 125px;
    margin: 0 auto;
}

h1 {
    width: 956px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #121212;
    margin-bottom: 30px;
}

.interior{
    width: 1150px;
    height: 500px;
    top: 278px;
    left: 125px;
    background-image: url('/one.png');
    padding: 379px 680px 40px 40px;
    margin-bottom: 150px;
}

.interior_text{
    width: 430px;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FFFFFF;
}
.about{
    margin-bottom: 150px;
}

h2{    
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-bottom: 30px;
}

.about_text{
    width: 1048px;
    font-size: 45px;
    line-height: 61.47px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #121212;
    margin-bottom: 30px;
}

.about_btn{
    display: inline-block;
    width: 255px;
    height: 67px;
    font-size: 19px;
    line-height: 27.32px;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    background-color: #AD1818;
}

.project{
    margin-bottom: 90px;
}

.project_img{
    width: 1150px;
    height: 450px;
}

.project_text{
    width: 542px;
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    text-align: left;
    margin: 15px 0px 15px 0px;
}

.project_btn{
    width: 127px;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    text-align: left;
    text-decoration: none;
    color: #AD1818;
}

.projects_btn{
    display: inline-block;
    border: 1px solid red;
    width: 1150px;
    height: 153px;
    border-radius: 5px;
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    text-align: center;
    text-decoration: none;
    padding: 56px 0px 56px 0px;
    color: #AD1818;
    margin-bottom: 150px;
}

.projects_btn:hover{
    background-color: #AD1818;
    color: #FFFFFF;
}

.container_black{
    background-color: #121212;
    max-width: 1400px;
    padding: 151px 125px 150px 125px;
    margin: 0 auto;
}

.uslugi_h2{
    width: 51px;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-bottom: 34px;
    color: #FFFFFF;
}

.uslugi{
    margin-bottom: 60px;
}

.uslugi_img{
    width: 1150px;
    height: 270px;
    margin-bottom: 15px;
}

.uslugi_text{
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FFFFFF;
}

.lesnoy{
    background-image: url('Rectangle 12.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    padding: 575px 832px 60px 125px;
}

.lesnoy_text{
    width: 443px;
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FFFFFF;
}

.contacts{
    width: 473px;
    height: 242px;
    margin-top: 150px;
}
.contacts_phone{
    margin-top: 13px;
}

.contacts_phone:before{
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('phone.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 13px;
    margin-left: -4px;
}

.contacts_nomber{
    margin-bottom: 30px;
}

.contacts_nomber-href{
    width: 472px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-align: left;
    text-decoration: none;
    color: #121212;
}

.contacts_mail{
    width: 412px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-align: left;
    text-decoration: none;
    border-bottom: 2px solid #121212;
    color: #121212;
    opacity: 50%;
    margin-top: 30px;
}

header{
    margin-bottom: 73px;
}
.menu{
    display: inline-block;
    float: right;
}

.menu_li{
    float: left;
    margin-left: 60px;
}

.menu_nav{
    width: 79px;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #121212;
    text-decoration: none;
}
