.about{
    margin-bottom: 150px;
}

.about__text{
    max-width: 1048px;
    font-size: 45px;
    line-height: 61.47px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #121212;
    margin-bottom: 30px;
}

.about__btn{
    display: inline-block;
    width: 255px;
    height: 67px;
    font-size: 19px;
    line-height: 27.32px;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    background-color: #AD1818;
    border-radius: 3.8px;
}

@media (max-width: 961px){
    .about{
        margin-bottom: 120px;
    }

    .about__text{
        max-width: 690px;
        font-size: 35px;
        line-height: 47.81px;
    }
}

@media (max-width: 550px) {
    .about{
        margin-bottom: 80px;
    }

    .about__text{
        font-size: 23px;
        line-height: 30.05px;
    }

    .about__btn{
        max-width: 194px;
        height: 51px;
        font-size: 15px;
        line-height: 21.86px;
        padding: 14.5px 27px;
    }
}