.footer{
    background-color: #121212;
    padding: 60px 0px 30px 0px;
}

.footer__nav{
    max-width: 450px;
    display: flex;
    justify-content: center;
    gap: 53px;
    padding-bottom: 87px;
    margin-left: 390px;
}

.footer__btn{
    color: #FFFFFF;
    margin: 0px;
}

.footer__text{
    max-width: 388px;
    font-size: 20px;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FFFFFF;
    opacity: 50%;
    margin-left: 429px;
}