header{
    margin-bottom: 70px;
    margin-top: 32px;
}

.menu__block{
    margin-left: 558px;
}

.menu__nav{
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    text-align: left;
    text-decoration: none;
    color: #121212;
    margin-left: 60px;
    float: right;
}

.menu__nav:hover{
    opacity: 0.5;
    border-bottom: 1px solid #121212;
}

.menu__img{
    width: 126.89px;
    height: 21.42px;
}

@media (max-width: 1199px){
    
}