.review{
    padding: 150px 0px;
}

.review__row{
    display: flex;
    flex-wrap: wrap;
    gap: 51px;
}

.review__row-item{
    display: block;
    width: 45%;
}

.review__title{
    font-size: 45px;
    line-height: 61.47px;
    letter-spacing: -0.03em;
    margin-bottom: 14px;
}

.review__text{
    font-size: 22px;
    line-height: 30.05px;
    letter-spacing: -0.03em;
}

.review__row-three{
    width: 70%;
}

@media (max-width: 961px) {
    .review{
        padding: 120px 0px;
    }

    .review__row{
        gap: 80px 10px;
    }

    .review__row-item{
        width: 49.4%;
    }

    .review__title{
        font-size: 35px;
        line-height: 47.81px;
        margin-bottom: 25px;
    }

    .review__text{
        font-size: 20px;
        line-height: 27.32px;
    }
}

@media (max-width: 550px) {
    .review{
        padding: 80px 0px;
    }

    .review__row{
        gap: 80px;
    }

    .review__row-item{
        width: 100%;
    }

    .review__title{
        font-size: 25px;
        line-height: 34.15px;
        margin-bottom: 10px;
    }

    .review__text{
        width: 100%;
        font-size: 16px;
        line-height: 21.86px;
    }

    .review__row-three{
        width: 100%;
    }
}
