.services{
    background-color: #121212;
    padding: 150px 0px;

}

.services__h2{
    margin-bottom: 34px;
    color: #FFFFFF;
}

.services__column{
    display: flex;
    flex-wrap: wrap;
    row-gap: 85px;
    justify-content: space-between;
}

.services__box{
    width: calc(50% - 5.5px);
    height: 455px;
    position: relative;
}

.services__box-img{
    width: 100%;
    height: 389px;
    margin-bottom: 15px;
}

.box__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services__box-price{
    width: 163px;
    height: 40px;
    font-size: 22px;
    line-height: 30.05px;
    letter-spacing: -0.03em;
    border-radius: 5px;
    position: absolute;
    text-align: center;
    background-color: #AD1818;
    padding: 5px 21px;
    color: #FFFFFF;
    top: 36px;
    left: 50px;
}

.price-three{
    width: 193px;
    padding: 5px 20px;
}

.price-four{
    width: 211px;
}

.services__box-text{
    width: 247px;
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FFFFFF;
}

.services__btn{
    width: 100%;
    height: 153px;
    display: block;
    background-color: #AD1818;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 30px;
    line-height: 40.98px;
    padding: 56px 0px;
    text-align: center;
    margin-top: 164px;
}

@media (max-width: 961px) {
    .services{
        padding: 151px 0px 120px 0px;
    }

    .services__column{
        row-gap: 80px;
    }

    .services__box{
        width: calc(50% - 5px);
        height: 371px;
    }

    .services__box-img{
        height: 315px;
    }

    .services__box-text{
        width: 393px;
        font-size: 25px;
        line-height: 34.15px;
    }

    .services__box-price{
        font-size: 19px;
        line-height: 27.32px;
        padding: 7px 27px;
        top: 31px;
        left: 32px;
    }

    .services__btn{
        font-size: 30px;
        margin-top: 80px;
    }
}

@media (max-width: 550px) {
    .services{
        padding: 80px 0px;
    }

    .services__column{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        row-gap: 60px;
        justify-content: space-between;
    }

    .services__box{
        width: 100%;
        height: 281px;
    }

    .services__box-img{
        height: 240px;
        margin-bottom: 10px;
    }

    .services__box-text{
        font-size: 18px;
        line-height:24.59px;
    }

    .services__box-price{
        width: 124px;
        height: 30px;
        font-size: 14px;
        line-height: 19.12px;
        border-radius: 3.8px;
        padding: 5.5px 23.5px;
        top: 23px;
        left: 24px;
    }
    
    .price-three{
        width: 148px;
    }
    
    .price-four{
        width: 160px;
    }

    .services__btn{
        height: 100px;
        border-radius: 3.8px;
        font-size: 22px;
        line-height: 30.05px;
        padding: 37px 0px;
        margin-top: 60px;
    }
}