.services{
    background-color: #121212;
    padding: 150px 0px;

}

.services__h2{
    width: 51px;
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-bottom: 34px;
    color: #FFFFFF;
}

.services__column{
    display: flex;
    flex-wrap: wrap;
    row-gap: 85px;
    justify-content: space-between;
}

.services__box{
    width: calc(50% - 5.5px);
    height: 455px;
    position: relative;
}

.services__box-img{
    width: 100%;
    height: 389px;
    margin-bottom: 15px;
}

.box__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services__box-price{
    width: 163px;
    height: 40px;
    font-size: 22px;
    line-height: 30.05px;
    letter-spacing: -0.03em;
    border-radius: 5px;
    position: absolute;
    background-color: #AD1818;
    padding: 5px 21px;
    color: #FFFFFF;
    top: 36px;
    left: 50px;
}

.price-three{
    width: 193px;
    padding: 5px 20px;
}

.price-four{
    width: 211px;
}

.services__box-text{
    width: 247px;
    font-size: 30px;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #FFFFFF;
}

.services__btn{
    width: 100%;
    height: 153px;
    display: block;
    background-color: #AD1818;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 30px;
    padding: 56px 0px;
    text-align: center;
    margin-top: 164px;
}