@import "../styles/hero.css";
@import "../styles/about.css";
@import "../styles/projects.css";
@import "../styles/header.css";
@import "../styles/services.css";
@import "../styles/gallery.css";
@import "../styles/footer.css";
@import "../styles/contacts.css";

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #FFFFFF;
}

.container{
    width: 1180px;
    margin: 0 auto;
    padding: 0px 15px;
}

h2{    
    font-size: 18px;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    text-align: left;
    margin-bottom: 30px;
}

@media (max-width: 961px) {
    .container{
        max-width: 100%;
    }
}

@media (max-width: 550px) {
    .container{
        max-width: 100%;
        margin: 0 auto;
        padding: 0px 12px;
    }

    h2{    
        font-size: 14px;
        line-height: 19.12px;
        margin-bottom: 20px;
    }
}